<!-- header.component.html -->

<header class="header">
    <div class="header__content">
      <a class="header__logo text-2 mb-0" href="#">
        Cartesa
      </a>
        <div class="menu">
          <ul class="header__menu">
            <li><a href="#">Lavori</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
          <div class="header__quick">
            <div class="icon-hamburger" (click)="toggleBodyClass()">
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
</header>