<footer class="footer">
    <div class="footer__content">
        <div class="grid">
                <article id="col__1" class="col-33">
                    <a class="header__logo text-2 mb-0" href="#">
                        Cartesa
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    </p>
                </article>
                <article id="col__2" class="col-33">
                    <ul>
                        <li><a href=""></a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </article>
                <article id="col__3" class="col-33"></article>
        </div>
    </div>
</footer>